<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K4HMNBZV');</script>
    <!-- End Google Tag Manager -->
    <title>Document</title>
    <link rel="stylesheet" href="css/cookies.css">
    
    <script src="js/cookies.js" defer></script>

    
    
</head>

<body>


    {% block bodydata %}
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K4HMNBZV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    
    
    <!-- Aviso de cookies -->
        
    <div id="avisocookies" class="avisocookies  " >

        <h3 class="titulo">Informacion sobre las cookies</h3>
        <p class="parrafo">Utilizamos cookies propias y de terceros para mejorar nuestros servicios </p>
        <button class="boton" id="btn-aceptar-cookies">De Acuerdo</button>
        <a class="enlace" href="cookies.html">Aviso de Cookies</a>

    </div>

    <div class="fondoavisocookies  " id="fondoavisocookies">

    </div>
    {% endblock bodydata %}
    
</body>
</html>