 {% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/agregarusuario.css" %}">
</head>
<body>
    
    <!-- Modal para verificar contraseña -->
    <div class="modal fade" id="modalVerificacion" tabindex="-1" aria-labelledby="etiquetaModalVerificacion" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verificar Identidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputContraseña" class="form-label">Ingresa la contraseña de administrador</label>
                        <input type="password" class="form-control" id="inputContraseña" placeholder="Contraseña">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="botonVerificar">Verificar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para mostrar los usuarios -->
    <div class="modal fade" id="modalUsuarios" tabindex="-1" aria-labelledby="etiquetaModalUsuarios" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Usuarios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body" id="listaUsuarios"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="botonAgregarUsuarioModal">Agregar Usuarios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para confirmar agregar usuario -->
    <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="etiquetaModalConfirmacion" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmación de agregar usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="correoElectronico" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="correoElectronico" placeholder="usuario@example.com">
                    </div>
                    
                    <div class="mb-3">
                        <label for="rolUsuario" class="form-label ">Rol</label>
                        <select class="form-select" id="rolUsuario">
                            <option value="Tutor">Tutor</option>
                            <option value="Asistente">Asistente</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="botonConfirmarAgregar">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "js/agguss.js" %}"></script>
</body>
</html>
