<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Crear proyecto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="sty/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <!–--saludotexto---iconoperfil-->
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="welcome-text">Bienvenid@,Usuario</div>
            <div class="profile-icon ">
                <i class="fa-regular fa-user fa-2x">
                    <a href="#"></a>
                </i>
            </div>
        </div>
    <!–--saludotexto---iconoperfil-->


        <!–-Proyecto-barrabusqueda,botonfiltro,menudesplegable-->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="project-title">GESTOR DE PROYECTOS</div>
            <div class="d-flex align-items-center">
                <input type="text" class="search-bar " placeholder="Buscar...">
                <button class="filter-btn ms-2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
        

        <div class="Botonfilter">
            <button class=" btn dropdown-toggle mp-4" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                <i class="fa-solid fa-filter">  Filtros</i>
                
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">A-Z</a></li>
                <li><a class="dropdown-item" href="#">Fecha</a></li>
            </ul>
            </button>
            </div>

            </div>
        </div>
        <!--Proyecto-barrabusqueda,botonfiltro,menudesplegable-->




        <!--ProjectsCards -->
        <div class="row">
            <div class="col-md-3">
                <div class="project-card">

                    <button class="btn btn-view "><i class="fa-solid fa-plus fa-2x"></i></button>
                    <h5>Crear Nuevo Proyecto</h5>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="project-card">
                    <h5>Facultad Robot</h5>
                    <p>Administrador</p>
                    <button class="btn btn-view ">Ver proyecto
                        <a href=""></a>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="project-card">
                    <h5>E-commerce Shoes</h5>
                    <p>Tutor</p>
                    <button class="btn btn-view">Ver proyecto
                        <a href=""></a>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="project-card">
                    <h5>Transporte v2</h5>
                    <p>Asistente</p>
                    <button class="btn btn-view">Ver proyecto
                        <a href=""></a>
                    </button>
                </div>
                
            </div>
            
            
        </div>

        <!---ProjectCards -->

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    
</body>
</html>
