/* Estilos personalizados */
.container {
    text-align: center;
}

#botonAgregarUsuario {
    margin-bottom: 20px;
}

/* Modal personalizado */
.modal-header {
    background-color: #f8f9fa;
}

.modal-title {
    color: #343a40;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    background-color: #f1f1f1;
}

/* Botones */
.btn-primary {
    background-color: #0e2b3e;
    color: #54bcde;
    border-radius: 5px;
    
}

.btn-danger {
    background-color: #dc3545;
    border-radius: 5px;
}

.form-control {
    margin-bottom: 15px;
}
