body {
    background-color: #ffffff;
}
.container {
    max-width: 1000px;
    margin-top: 40px;
}
.search-bar {
    width: 400px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    background-color: #0E2B3E;
    color: white;
}
.filter-btn {
    background-color: #0E2B3E;
    color: #54BCDE;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


    
}

.Botonfilter{
    background-color: #0E2B3E;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: auto;
    
}

.Botonfilter i{
    color: #54BCDE;
    
    
}



.welcome-text {
    font-size: 24px;
    color: #54BCDE;
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
    display: block;
    width: 90%;
    font-family: AngsanaUPC
    
}


.project-title {
    font-size: 30px;
    font-weight: bold;
    color:#54BCDE;
    
}
.project-card {
    border: 4px solid #0E2B3E;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #0E2B3E;
    margin-bottom: 30px;
    transition: box-shadow 0.3s;
    font-family: AngsanaUPC ;
}
.project-card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    background-color: #dcdcdc;
    
}
.project-card h5 {
    font-weight: lighter;
    border-bottom: 30px;
    color: #000;
}
.project-card p {
    color: #000;
    font-weight: bolder;
}
.btn-view {
    border-radius: 15px;
    color: #54BCDE;    ;
    
    padding: 10px 20px;
    background-color: #0E2B3E;

}


.btn-view:hover {
    background-color: #031d2e;
    color: #ffffff;
    transform: scale(1.1);
    transition: 0.2s ease-in;

}
.profile-icon {
    width: 60px;
    height: 60px;
    background-color: #0E2B3E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #54BCDE;
    margin-left: auto;
    
    
    
}

